@media(max-width: 767px){


    .header{
    
        padding: 0;
       
        .container{
            align-items: center;   
        }

        .column-first{
            display: flex;
            justify-content: flex-end;
            align-items: center;
          
        }
        .column-second{
            display: block;  
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;          
            z-index: -1;
            transform: translateY(-100%);   
                        
        }
        .nav{
         
            &__item{
                padding: .5rem 0;
                margin-right: 0 !important; 
            }
        }
    }

    .logo{
        margin-right: 2rem;
    }
    .nav{
     
        background-color: inherit;

        &__block{
            
            display: block;
            margin:0 auto 0 2rem;
            padding: .5rem 0;
        }
    }
    .mobile-btn__style{

        display: flex;
        position: relative;
        left: 2rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        
        span, span::before, span::after{
            display: block;
            position: absolute;
            width: 100%;
            height: .4rem; 
            background-color: #000;   
            transform-origin: center;
        }
        span{ 
            top: 50%;
            transform: translateY(-50%);
         
        }      
        span::before{
            content: "";
            top: .9rem;
            transform: rotate(0);
        }
        span::after{
            content: "";
            bottom: .9rem;
            transform: rotate(0);
        }
        &.animation>span::after{            
            animation: burger-close-bottom .3s ease-in;
        }
        &.animation>span::before{            
            animation: burger-close-top .3s ease-in;
        }   
    }

    #anchor:checked ~ .mobile-btn__style>span{
        transition-duration: .3s;
        background-color: transparent;
    }
    #anchor:checked ~ .mobile-btn__style>span::after{
        animation: start-bottom .3s ease-in;
        transform: rotate(45deg);
        bottom: 0;
    
    
    }
    #anchor:checked ~ .mobile-btn__style>span::before{
        animation: start-top .3s ease-in;
        transform: rotate(-45deg);
        top: 0;
    }
    #anchor:checked ~ .column-second{
        transform: translateY(0);
        animation: open-nav .3s ease-in;
    }
     
    @keyframes burger-close-bottom {
        
        0%{ 
            transform: rotate(45deg);
            bottom: 0;
        }
        50%{
            bottom: 0;
            transform: rotate(0);
           
        }
        100%{
            bottom: .9rem;
            transform: rotate(-0);
        }
    }

    @keyframes burger-close-top {
        
        0%{ 
            transform: rotate(-45deg);
            top: 0;
        }
        50%{
            top: 0;
            transform: rotate(0);
           
        }
        100%{
            top: .9rem;
            transform: rotate(0);
        }
    }
    
    @keyframes start-bottom {
    
        0%{
            bottom: .9rem;
            transform: rotate(0);
        }
        50%{
            bottom: 0;
            transform: rotate(0);
           
        }
        100%{
            transform: rotate(45deg);
        }
    }
    
    @keyframes start-top {
    
        0%{
           
            transform: rotate(0);
        }
        50%{
            top: 0;
            transform: rotate(0);
           
        }
        100%{
            transform: rotate(-45deg);
        }
    }
    
    
    @keyframes open-nav {
        0%{
            transform: translateY(-100%);  
        }

        100%{
            transform: translateY(0);  
        }
    }

    @keyframes close-nav {
        0%{
            transform: translateY(0);  
        }

        100%{
            transform: translateY(-100%);  
        }
    }

    .nav__close{
        animation: close-nav .3s ease-in;
    }

    .main{
       
       
        .container{  
            overflow: hidden;
        }

        .column-first{
            padding: 2rem 5rem;
        }
        .column-second{
         position: absolute;
         width: 50%;
         top: 0;
         bottom: 0;
         left: -50%; 
         transition-duration: .3s;

         &.open{
             left: 0;
         }
        }
        
        .column-second>.aside-btn{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            writing-mode: vertical-rl;
            font-size: 1.8rem;
            font-weight: 600;
            width: 4rem;
            height: 6rem;
            right: -4rem;
            top: 2rem;
            background-color: rgba(224, 129, 193, 0.897); 
            border-radius: 0 1rem 1rem 0;
        }
        .column-therdth>.aside-btn{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            writing-mode: vertical-rl;
            font-size: 1.8rem;
            font-weight: 600;
            width: 4rem;
            height: 6rem;
            left:  -4rem;
            top: 2rem;
            background-color: rgba(102, 189, 230, 0.897);
            border-radius: 1rem 0  0 1rem;
        }
        .column-therdth{
            position: absolute;
            width: 50%;
            right: -50%;
            top: 0;
            bottom: 0;
            transition-duration: .3s;
            
            &.open{
                right: 0;
            }
               
        }
    }
    
}
