
$primary-font: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

$primary-font-size: 1.4rem;

/****************************************************************************************/

$coloor-red: #de2b24;

$color-white: #fff;

$primary-font-color: #5c5c5c;

$second-font-color: #424242;

$bg-row-two-static-color: $color-white;

$bg-row-two-fixed-color: #515151;

$color-facebook:  #1287bf;

$color-border: #e2e2e2;

$bg-color-contacts: #f0f2f4;

$hover-color: $coloor-red;

$hover-color-second: #f8cd53;

$bg-batton-color: #f8cd53;

$bg-btn-color: $coloor-red;

$color-text: $color-white;

$bg-color-slider:#1287bf;

$bg-row-three: #f3f3f3;

$bg-row-four: $coloor-red;

$bg-row-five: #1287bf;

$bg-step-box: $coloor-red;

$bg-box: $color-white;

$bg-form: $color-white;

$bg-footer: #2a2a2a;

$bg-copyright: #515151;



// Breakpoints ------------------------------------
 $desktop-l: 1060px;   
 $desktop: 1025px;
 $tablet-l: 961px;
 $tablet-l: 890px;
 $tablet: 768px;
 $phone-l: 580px;   